{% load static %}

<body>
  <link rel="stylesheet" href="{% static 'css/Sell.css' %}">
  <img class="im2" src="{% static 'images/background.jpg' %}" alt="im2" >
  <div class="sell-head">
    <div class="centered-box-pinfo">
      <div class="inner-box-pinfo" style="background-color: rgb(79, 235, 105); display:flex; align-items: center;justify-content: center;">
        <form action="/sell" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group-pinfo"style="padding-left: 20px;">
            <label for="category" style="font-weight: bold;padding-right: 65px;">Category</label>
            <input class="form-control me-2" type="search" id="category1" aria-label="Search" name="sell_category" required>
            <button class="recordButton" id="recordButton1" data-target="category">Start Recording</button>
            <p id="output"></p>
          </div>
          <div class="form-group-pinfo" style="padding-left: 20px;">
            <label for="username" style="font-weight: bold;padding-right: 30px;">Product Name</label>
            <input class="form-control me-2" type="search" id="username" aria-label="Search" name="sell_name" required>
            <button class="recordButton" id="recordButton2" data-target="username">Start Recording</button>
          </div>
          <div class="form-group-pinfo" style="font-weight: bold; padding-top: 30px;  padding-bottom: 30px;padding-left: 20px;">
            <label for="product_image" style="font-weight: bold; padding-top: 30px;  padding-bottom: 30px;padding-right: 30px;">Product Image:</label>
            <a href="">Capture image</a>
            <!-- <input class="image-pinfo" type="file" id="product_image" name="sell_image"> -->
          </div>
          <div class="form-group-pinfo" style="padding-left: 20px;">
            <label for="product_price"  style="font-weight: bold;padding-right: 35px;">Product Price</label>
            <input class="form-control me-2" type="search" id="product_price" aria-label="Search" name="sell_price" required>
            <button id="recordButton3">Start Recording</button>
          </div>
          <div class="form-group-pinfo" style="padding-left: 10px;">
            <label for="product_info" style="font-weight: bold;">Product Information</label>
            <textarea class="info-pinfo" id="product_info" name="sell_description" style="font-weight: bold"required></textarea>
            <button id="recordButton4">Start Recording</button>
          </div>   
          <div class="a-pinfo">
            <button type="submit" class="submit-pinfo">Save Details</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
